<div class="level">
  <div class="level-left">
    <div class="level-item">
      <h1 class="page-title"><%= @store.name %></h1>
    </div>
    <div class="level-item">
      <span class="icon has-text-info">
          <%= fa_icon 'home' %>
      </span>
      <h3 class="subtitle"><%= link_to @store.url, class: "subtitle is-4" %></h3>
    </div>
  </div>
</div>
<h1 class="subtitle is-4">Current Products</h1>
<div class="table-container">
  <table class="main-table">
    <tr>
      <th>Name</th>
      <th>Variant</th>
      <th>In Stock</th>
      <th>Price</th>
    </tr>
  
    <% @store.products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product) %></td>
        <td><%= product.variant_name %></td>
        <td><%= render 'products/stock_status', :@product => product %></td>
        <td><%= render 'products/price', :@product => product %></td>
      </tr>
    <% end %>
  </table>
</div>