<h1 class="title is-1"><%= @store.name %></h1>
<%= link_to @store.url, :class => "subtitle" %>
<h1 class="subtitle">Current Products</h1>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Variant</th>
    <th>In Stock</th>
  </tr>
 
  <% @store.products.each do |product| %>
    <tr>
      <td><%= link_to product.name, product_path(product) %></td>
      <td><%= product.variant_name %></td>
      <td><%= render 'products/stock_status', :@product => product %></td>
    </tr>
  <% end %>
</table>