<h1 class="title is-size-1 ">Current Products</h1>
<div class="table-container">

<table class="table is-striped is-hoverable is-fullwidth is-size-5-mobile">
<tr>
    <th>Name</th>
    <th>URL</th>
    <th>Variant</th>
    <th>In Stock</th>
    <th>Store</th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.name, product_path(product) %></td>
      <td><%= link_to 'View on site', product.url %></td>
      <td><%= product.variant_name %></td>
      <td><%= product.in_stock %></td>
      <td><%= link_to product.store.name, store_path(product.store) %></td>
    </tr>
  <% end %>
</table>

</div>