<h1 class="page-title"><%= @product.name %></h1>
<div class="box">
    <div class="columns">
        <div class="column">
            <%= image_tag(@product.image_url, height: '250', width: '250') %>
        </div>
        <div class="column">
            <div class="subtitle is-size-5">
                <div class="has-vertical-padding-1">
                    <span><strong>Price:</strong></span>
                    <span><%= render 'price', :@product => @product %></span>
                </div>
                <div class="has-vertical-padding-1">
                    <span><strong>In Stock:</strong></span>
                    <span>
                        <% if @product.in_stock %>
                            Yes
                        <% else %>
                            No
                        <% end %>
                    </span>
                </div>
                <div class="has-vertical-padding-1">
                    <span><strong>Category:</strong></span>
                    <%= @product.category.name %>
                </div>
                <div class="has-vertical-padding-1">
                    <span class="icon has-text-info">
                        <%= fa_icon 'link' %>
                    </span>
                    <%= link_to 'View on site', @product.url %>
                </div>
            </div>
            <% if user_signed_in? %>
            <a role="button" class="button is-primary" onclick="document.querySelector('.modal').classList.toggle('is-active');">Notify me!</a>
            <div class="modal">
                <div class="modal-background" onclick="document.querySelector('.modal').classList.toggle('is-active');"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Create Subscription</p>
                        <button class="delete" aria-label="close" onclick="document.querySelector('.modal').classList.toggle('is-active');"></button>
                    </header>
                    <section class="modal-card-body">
                        <div class="section">
                            Are you sure?
                        </div>
                    </section>
                    <footer class="modal-card-foot">
                        <%= link_to 'Subscribe', subscriptions_path(product_id: @product.id), method: :post, class: "button is-success" %>
                        <button class="button" onclick="document.querySelector('.modal').classList.toggle('is-active');">Cancel</button>
                    </footer>
                </div>
            </div>
            <% else %>
                <%= link_to "Sign up to be notified", new_user_registration_path, :class => "button is-primary" %>
            <% end %>
        </div>
    </div>
</div>