<h1 class="title"><%= @product.name %></h1>
<%= image_tag(@product.image_url, height: '250', width: '250') %>
<%= link_to 'View on site', @product.url %>
<% if user_signed_in? %>
    <%= link_to "Notify Me!", new_subscription_path, :class => "button is-primary" %>
<% else %>
    <%= link_to "Sign up to be notified", new_user_registration_path, :class => "button is-primary" %>
<% end %>