<!DOCTYPE html>
<html>
  <head>
    <title>Stockie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  
  <body>
    <header>
      <%= render 'layouts/navbar' %>
    </header>
    <main>
      <section class="section">
        <div class="container">
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <%= yield %>
        </div>
      </section>
    </main>
  </body>
  <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Stockie</strong> by <a href="https://github.com/briscoooe">Brian Briscoe</a>
    </p>
  </div>
</footer>
</html>
